
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.todo__list {
    border: 1px solid white;
    display: flex;
  align-items: center;
    height: 300px;
    width: 400px;
    margin-right: 15px;
    flex-direction: column;
}

.btn__block {
    border: 1px solid white;
    display: flex;
    align-items: center;
    height: 300px;
    width: 400px;
    flex-direction: column;
}