.todo {
    border: 1px solid white;
    height: 70px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.name {
    margin-bottom: 10px;
}
.btns{
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 110px;
}

.delete{
    cursor: pointer;
}

.done{
    cursor: pointer;
}